---
layout: default
---
<!-- ******HEADER****** -->
<header id="header" class="header">
  <div class="container">
    <h1 class="logo pull-left">
      <a href="/">
        <span class="logo-title">{{ site.org_name }}</span>
      </a>
    </h1><!--//logo-->
    <nav id="main-nav" class="main-nav navbar-right" role="navigation">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button><!--//nav-toggle-->
      </div><!--//navbar-header-->
      <div class="navbar-collapse collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
          <li class="nav-item"><a class="scrollto" href="#about">About</a></li>
          <li class="nav-item"><a class="scrollto" href="#join">Projects</a></li>
          <li class="nav-item"><a class="scrollto" href="#contact">Contact</a></li>
        </ul><!--//nav-->
      </div><!--//navabr-collapse-->
    </nav><!--//main-nav-->
  </div>
</header><!--//header-->

<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header">
  <div class="container text-center">
    <h2 class="title"><span class="highlight">{{ site.org_name }}</span></h2>
    <p class="intro">{{ site.org_summary }}</p>
    <div class="btns">
      <!--a class="btn btn-cta-secondary" href="#" target="_blank">Demo</a-->
      <a class="btn btn-outline btn-outline-medium scrollto" href="#about" target="_blank">Learn More <i class="fa fa-angle-double-down"></i></a>
    </div>
    <ul class="meta list-inline">
      <li></li>
    </ul><!--//meta-->
  </div><!--//container-->
  <div class="social-media">
    <div class="info text-center">
      <ul class="social-icons list-inline">
        {% if site.twitter_username %}
        <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
        {% endif %}
        {% if site.facebook_username %}
        <li><a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
        {% endif %}
        {% if site.instagram_username %}
        <li><a href="http://instagram.com/{{ site.instagram_username }}"><i class="fa fa-instagram"></i></a></li>
        {% endif %}
        {% if site.org_general_email_inbox %}
        <li class="last"><a href="mailto: {{ site.org_general_email_inbox }}"><i class="fa fa-envelope"></i></a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</section><!--//promo-->

<!-- ******ABOUT****** -->
<section id="about" class="about section">
  <div class="container">
    <h2 class="title text-center">About Us</h2>
    <p class="intro text-center">{{ site.org_full_description }}</p>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="team-member">
          <div class="team-photo">
            <img src="assets\team\DavidAdelani.png" alt="Team Member 2" class="img-responsive img-circle" />
          </div>
          <h3 class="team-name">Dr. David Ifeoluwa Adelani</h3>
          <p class="team-role">Director</p>
          <p class="team-description">Dr. Adelani is an Assistant Professor at McGill, Core Academic Member at Mila and Canada CIFAR AI Chair. He works on NLP for African languages.  </p>
          <p class="team-contact">
          <ul class="social-icons list-inline">
          <a href="https://x.com/davlanade" target="_blank"> <i class="fa fa-twitter"> </i></a>
          <li class="last"><a href="mailto:davlanade@gmail.com"><i class="fa fa-envelope"></i></a></li>
          <a href="https://dadelani.github.io/" target="_blank"> <i class="fa fa-home fa-fw"> </i></a>
          </ul>
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="team-member">
          <div class="team-photo">
            <img src="assets\team\ezekiel.png" alt="Team Member 3" class="img-responsive img-circle" />
          </div>
          <h3 class="team-name">Dr. Ezekiel Soremekun</h3>
          <p class="team-role">Director</p>
          <p class="team-description">Dr. Soremekun is an Assistant Professor at Singapore University of Technology and Design (SUTD), Singapore. He leads the Trustworthy SoftWare & AI (TrustWare) research group at SUTD. </p>
          <p class="team-contact">
          <ul class="social-icons list-inline">
          <a href="https://x.com/ezekSoremekun" target="_blank"> <i class="fa fa-twitter"> </i></a>
          <li class="last"><a href="mailto:ezekiel.soremekun@gmail.com"><i class="fa fa-envelope"></i></a></li>
          <a href="https://ezekiel-soremekun.github.io/" target="_blank"> <i class="fa fa-home fa-fw"> </i></a>
          </ul>
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="team-member">
          <div class="team-photo">
            <img src="assets\team\jesujoba.jpeg" alt="Team Member 1" class="img-responsive img-circle" />
          </div>
          <h3 class="team-name">Jesujoba O. Alabi</h3>
          <p class="team-role">Director</p>
          <p class="team-description">Jesujoba is a PhD student in Computer Science at Saarland University, Germany. He works on NLP for low-resource languages, speech processing,  and interpretability of NLP models. 
 </p>
          <p class="team-contact">
          <ul class="social-icons list-inline">
          <a href="https://x.com/alabi_jesujoba" target="_blank"> <i class="fa fa-twitter"> </i></a>
          <li class="last"><a href="mailto:alabijesujoba@gmail.com"><i class="fa fa-envelope"></i></a></li>  
          <a href="https://ajesujoba.github.io/" target="_blank"> <i class="fa fa-home fa-fw"> </i></a>
          </ul>
          </p>
        </div>
      </div>
  </div><!--//container-->
</section><!--//about-->

<!-- ******Projects****** -->
<section id="join" class="join section">
  <div class="container text-center">
    <h2 class="title">Research Projects</h2>
    <div class="row">
      <p class="intro text-center">We have contributed and led research projects such as </p>
      <!--button-->

<div class="row">

  <div class="col-12 col-md-6 col-lg-3 mb-4">
    <div class="card border border-dark h-100">
      <div class="card-body">
        <h5 class="card-title">NiLE</h5>
        <p class="card-text">Empowering Education Through Language Technology.</p>
        <a href="https://niletranslate.com/" target="_blank"> <i class="fa fa-home fa-fw"> </i></a>
        </a>
      </div>
    </div>
  </div>
  
  <div class="col-12 col-md-6 col-lg-3 mb-4">
    <div class="card border border-dark h-100">
      <div class="card-body">
        <h5 class="card-title">MasakhaNER</h5>
        <p class="card-text">Named Entity Recognition for African Languages.</p>
        <a href="https://github.com/masakhane-io/masakhane-ner" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-3 mb-4">
    <div class="card border border-dark h-100">
      <div class="card-body">
        <h5 class="card-title">MAFAND-MT</h5>
        <p class="card-text">Machine Translation for African Languages.</p>
        <a href="https://github.com/masakhane-io/lafand-mt" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-3 mb-4">
    <div class="card border border-dark h-100">
      <div class="card-body">
        <h5 class="card-title">WorldCuisines</h5>
        <p class="card-text">Multilingual and Multicultural Visual Question Answering.</p>
        <a href="https://huggingface.co/datasets/worldcuisines/vqa" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </div>
  </div>



  <!-- SECOND ROW -->

  <div class="col-12 col-md-6 col-lg-3 mb-4">
    <div class="card border border-dark h-100">
      <div class="card-body">
        <h5 class="card-title">Masakhane-NLU</h5>
        <p class="card-text">Conversation AI and Benchmark datasets for African languages.</p>
        <a href="https://github.com/masakhane-io/masakhane-nlu" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </div>
  </div>

   <div class="col-12 col-md-6 col-lg-3 mb-4">
    <div class="card border border-dark h-100">
      <div class="card-body">
        <h5 class="card-title">BibleTTS</h5>
        <p class="card-text">A large, high-fidelity, multilingual, and uniquely African speech corpus.</p>
        <a href="https://masakhane-io.github.io/bibleTTS/" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-3 mb-4">
    <div class="card border border-dark h-100">
      <div class="card-body">
        <h5 class="card-title">AfriQA</h5>
        <p class="card-text">Cross-lingual question answering (QA) dataset for African languages.</p>
        <a href="https://github.com/masakhane-io/afriqa" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-3 mb-4">
    <div class="card border border-dark h-100">
      <div class="card-body">
        <h5 class="card-title">Afri-MCQA</h5>
        <p class="card-text">Multimodal Cultural Question Answering for African Languages.</p>
        <a href="https://huggingface.co/datasets/Atnafu/Afri-MCQA" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </div>
  </div>
</div>


      
      <!---the buttons-->  
      </div>
    </div>
  </div><!--//container-->
</section><!--//Projects-->


<!-- ******CONTACT****** -->
<section id="contact" class="contact section has-pattern">
  <div class="container">
    <div class="contact-inner">
      <h2 class="title  text-center">Contact</h2>
      <address class="text-center">
        <strong>{{ site.org_name }}</strong><br>
        {% if site.org_street_address %}{{ site.org_street_address }},&nbsp;{% endif %}{% if site.org_address_suite %}{{ site.org_address_suite }}<br>{% endif %}
        {% if site.org_city %}{{ site.org_city }},&nbsp;{% endif %}{% if site.org_state %}{{ site.org_state }}&nbsp;{% endif %}{% if site.org_zip %}{{ site.org_zip }}{% endif %}<br>
        {% if site.org_phone %}
        <abbr title="Phone">P:</abbr> {{ site.org_phone }}
        {% endif %}
      </address>
      <div class="clearfix"></div>
      <div class="info text-center">
        <h4 class="sub-title">Get Connected</h4>
        <ul class="social-icons list-inline">
        {% if site.twitter_username %}
        <li><a href="https://twitter.com/{{ site.org_twitter_username }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
        {% endif %}
        {% if site.facebook_username %}
        <li><a href="https://www.facebook.com/{{ site.org_facebook_username }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
        {% endif %}
        {% if site.instagram_username %}
        <li><a href="http://instagram.com/{{ site.org_instagram_username }}"><i class="fa fa-instagram"></i></a></li>
        {% endif %}
        {% if site.org_general_email_inbox %}
        <li class="last"><a href="mailto: {{ site.org_general_email_inbox }}"><i class="fa fa-envelope"></i></a></li>
        {% endif %}
      </ul>
      </div><!--//info-->
    </div><!--//contact-inner-->
  </div><!--//container-->
</section><!--//contact-->
